  <div class="label">
    <i class="circular pencil icon"></i>
  </div>
  <div class="content">
    <div class="date">
      {{date}}
    </div>
    <div class="summary">
       You {{action_type}}'d the shit out of this plant...
    </div>
    {{#if notes}}<div class="extra text">
      {{notes}}
    </div>
    {{/if}}
    <div class="actions">
	    <a class="edit">Edit</a>
	    <div class="ui delete shape" data-action="destroy">
			  <div class="sides">
			    <div class="active side">
            <a class="delete link">Delete</a>
          </div>
			    <div class="side">
            <div class="ui buttons">
              <div class="ui mini icon button" data-action="cancel-destroy">
                <i class="arrow sign left icon"></i>
              </div>
  			    	<div class="ui mini red labelled icon button" data-action="confirm-destroy">
  			    		<i class="warning icon"></i> Confirm
  			    	</div>
            </div>
			    </div>
			  </div>
	    </div>
	  </div>

  </div>

