<div class="planting-action">
<h5 data-model="action_type">{{action_type}}</h5>
<h6 data-model="date">{{date}}</h6>
<p data-model="notes">{{notes}}</p>
<div class="modify-actions">
	<button class="btn btn-mini" data-action="destroy"><i class="fui-cross"></i> Delete</button>
	<button class="btn btn-mini" data-action="edit"><i class="fui-new"></i> Edit</button>
</div>
<div class="modification-actions" hidden>
	<button class="btn btn-mini" data-action="cancel"><i class="fui-cross-inverted"></i> Cancel</button>
	<button class="btn btn-mini" data-action="save"><i class="fui-check-inverted"></i> Save</button>
</div>
</div>