<div class="ui form">
<h3 class="ui header">New Planting</h3>
		<div class="field">
			<label>Plant</label>
    	<div class="ui plant search">
    		<div class="ui input">
					<input type="text" name="plant" required class="prompt" value="{{planting.plant_id}}">
				</div>
				<div class="search results">
					<div class="search category">
						<div class="search result"></div>
					</div>
				</div>
			</div>
			<select value="{{planting.plant_id}}">
				<option value="">Select a plant</option>
				{{#plants:i}}
				<option value="{{id}}">{{use_name}}</option>
				{{/plants}}
			</select>
		</div>

		<div class="field">
			<label>Where would you like to plant?</label>
			<div class="ui two column grid">
				<div class="column">
					<div class="place selection">
						<input type="text" class="place id" value="{{planting.place_id}}">
					</div>
				</div>
				<div class="column">
					<div class="place summary">

					</div>
				</div>
			</div>
			<select value="{{planting.place_id}}">
				<option value="">Select a place</option>
				{{#places:i}}
				<option value="{{id}}">{{name}}</option>
				{{/places}}
			</select>
		</div>

		<div class="field">
			<div class="two fields">
        <div class="field">
          <label>From...</label>
          <input type="text" name="date" required class="planted from date" value="{{planting.planted_from}}">
        </div>
        <div class="field">
          <label>Until...</label>
          <input type="text" name="date" required class="planted until date" value="{{planting.planted_until}}">
        </div>
      </div>			
		</div>

		<div class="field">
			<label>From</label>
			<select name="from" class="selectpicker" value="{{planted.from}}">
				<option value="seed">Seed</option>
				<option value="plantlet">Plantlet</option>
				<option value="cutting">Cutting</option>
			</select>
		</div>

		<div class="row-fluid">
			<hr>
			<a class="ui large green labelled icon save button" on-click="save"><i class="icon ok sign"></i> Save</a>
		</div>
</div>