<div class="ui relaxed inverted page grid segment">
	<div class="column">
		<div class="ui inverted form segment">
			<div class="ui massive input">
				<input class="action description entry" placeholder="I planted something...">
			</div>
		</div>
	</div>
</div>

<div class="parsed"></div>

<div class="ui action selection list">
{{#each actions}}
	<div class="list item">
	{{this}}
	</div>
{{/each}}
</div>

<div class="ui plant selection">
</div>

<div class="ui planting selection">
</div>

<div class="ui place selection">

</div>

<div class="ui action details">

</div>