<!--<div class="navbar nav">
    <div class="navbar-inner">
        <a class="brand" href="/">Sembr</a>
        <ul class="nav" id="main-menu">
            <li data-activate="Default"><a href="/dashboard">Dashboard</a></li>
            <li data-activate="Trackr"><a href="/track/plantings">Plantings</a></li>
        </ul>
    </div>
</div>-->
<br>
<div class="iconbar iconbar-horizontal iconbar-success pull-right">
  <ul>
    <li data-activate="Default"><a href="/dashboard" class="fui-home"></a></li>
    <li data-activate="Trackr"><a href="/track/plantings" class="fui-calendar"></a></li>
    <li data-activate="User"><a href="#fakelink" class="fui-user"></a></li>
    <li data-activate="Settings"><a href="/puton" class="fui-gear"></a></li>
    <li data-activate="Mail"><a href="#fakelink" class="fui-mail"><span class="iconbar-unread">1</span></a></li>
  </ul>
</div>