<div class="menu">
    <a class="active item" href="/track/timeline" data-tooltip="Weeeeee" data-tooltip-position="top middle">
      <i class="table icon"></i> <span class="label">Timeline</span>
    </a>
    <a class="item" href="/track/planting/new">
      <i class="add sign icon"></i> <span class="label">Add a Planting</span>
    </a>
    <a class="item" href="/track/plantings">
      <i class="leaf icon"></i> <span class="label">List</span>
    </a>
    <a class="item" href="/track/places">
      <i class="grid layout icon"></i> <span class="label">Places</span>
    </a>
    <a class="item" href="/track/plants">
      <i class="lemon icon"></i> <span class="label">Plants</span>
    </a>
    <a class="item" href="" id="sign-in">
      <i class="user icon"></i> <span class="label">Sign In</span>
    </a>
    <a class="item" id="sign-out">
      <i class="user icon"></i> <span class="label">Sign Out</span>
    </a>
</div>