<div class="ui menu large">
  <a class="active item" href="/track/timeline">
    <i class="table icon"></i> Timeline
  </a>
  <a class="active item" href="/track/planting/new">
    <i class="add sign icon"></i> Add a Planting
  </a>
  <a class="item" href="/track/plantings">
    <i class="leaf icon"></i> List
  </a>
  <a class="item" href="/track/places">
    <i class="grid layout icon"></i> Places
  </a>
  <a class="item" href="/track/plants">
    <i class="lemon icon"></i> Plants
  </a>
  <!--<div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>-->
</div>